<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-pernexus-fullscreendoc"
      version="1.0.0">

    <name>Pernexus Fullscreen Document</name>
    <description>Cordova Pernexus fullscreen document Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,documents,pdf,view,image,images,viewer,document</keywords>

    <js-module src="www/fullscreendoc.js" name="FullScreenDoc">
        <clobbers target="window.FullScreenDoc" />
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FullScreenDoc">
                <param name="ios-package" value="FullScreenDoc"/>
            </feature>
        </config-file>
		<header-file src="src/ios/FullScreenDoc.h" />
        <source-file src="src/ios/FullScreenDoc.m" />
    </platform>

</plugin>