<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="dk.pernexus.fullscreendoc"
    version="1.0.0">

    <name>Full Screen Doc</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <author>Morten Zobbe</author>
    <description>Show a preview of a document located in the application temp folder</description>
    <keywords>cordova, image, document, docs, doc, fullscreen, photos, pdf, gallery</keywords>

    <license>MIT</license>

    <js-module src="www/fullscreendoc.js" name="FullScreenDoc">
        <clobbers target="window.FullScreenDoc" />
    </js-module>

    <!-- ios -->
     <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FullScreenDoc">
                <param name="ios-package" value="FullScreenDoc" />
            </feature>
        </config-file>
        <header-file src="src/ios/FullScreenDoc.h" />
        <source-file src="src/ios/FullScreenDoc.m" />
    </platform>

	<!-- Android -->
 	<platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="FullScreenImage">
                <param name="android-package" value="es.keensoft.fullscreenimage.FullScreenImage" />
            </feature>
        </config-file>
         <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/FullScreenImage.java" target-dir="src/es/keensoft/fullscreenimage" />
    </platform>
    
</plugin>
